.history
.DS_Store
background/backProject/backProject.iml
.idea
/front/nodejsProject/client/node_modules
/front/myvue2/client/node_modules/
front/myvue2/client/node_modules/http-parser-js/http-parser.js


/guiguFront/**/node_modules

/guiguFront/frontQuickStart/**/package-lock.json

/guiguFront/frontQuickStart/**/**/.vscode
